/*.color1 { #7b7b7b }; gris
.color2 { #5c5c5c };
.color3 { #3d3d3d };
.color4 { #1f1f1f };
.color5 { #000000 };negro
        #00ff00  verde
#033f3c
Negro (#000000): Este color se utiliza para el fondo y otros elementos oscuros en el sitio. Proporciona un fondo elegante y resalta otros colores.

Blanco (#FFFFFF): El blanco se utiliza para el texto y otros elementos en contraste con el fondo negro. Aporta claridad y legibilidad.

Verde Menta (#2FBEB8): Este tono de verde se utiliza en botones y acentos para agregar un toque de frescura y vitalidad.

Amarillo (#F6C819): El amarillo se utiliza para resaltar información importante y añadir un toque de calidez y energía.

Gris (#808080): El gris se usa para detalles más oscuros o sombras. Agrega profundidad sin ser demasiado llamativo.
        Estilos para todo el proyecto */
        body {
            font-family: Arial, sans-serif;
            background-color: #000000;
        }
       /* Estilos del Navbar */
.navbar-custom {
    background-color: #001f3f; /* Fondo del Navbar */
}

.navbar-custom .navbar-brand,
.navbar-custom .nav-link {
    color: #ffffff; /* Texto del Navbar */
    border: 2px solid #fff; /* Borde del Navbar */
    border-radius: 10px; /* Bordes redondeados */
    margin: 0 5px; /* Márgenes entre elementos del Navbar */
    padding: 8px 15px; /* Espaciado interno del Navbar */
    position: relative;
    overflow: hidden;
}

.navbar-custom .navbar-brand::before,
.navbar-custom .nav-link::before,
.navbar-custom .navbar-brand::after,
.navbar-custom .nav-link::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 2px;
    background-color: #fff; /* Color de las luces de neón */
    opacity: 0;
    transition: all 0.3s ease-in-out;
    z-index: 2; /* Aumenta el valor de z-index */
}

.navbar-custom .navbar-brand::before,
.navbar-custom .nav-link::before {
    top: 0;
    transform: translateY(-50%);
}

.navbar-custom .navbar-brand::after,
.navbar-custom .nav-link::after {
    bottom: 0;
    transform: translateY(50%);
}

.navbar-custom .navbar-brand:hover::before,
.navbar-custom .nav-link:hover::before,
.navbar-custom .navbar-brand:hover::after,
.navbar-custom .nav-link:hover::after {
    opacity: 1;
    transform: translateY(0);
}

        p {
            font-family: 'Times New Roman', Times, serif;
            background-color: black;
            max-width: 400px;
            margin: 0 auto;
            padding: 20px;
        }
        
        h1, h2, h3, h4, h5, h6 {
            text-align: center;
            color: white;
        }
        
        form {
            max-width: 400px;
            margin: 0 auto;
            padding: 20px;
            background-color: white;
            border: 1px solid tomato;
            border-radius: 5px;
            -webkit-border-radius: 5px;
            -moz-border-radius: 5px;
            -ms-border-radius: 5px;
            -o-border-radius: 5px;
}
        
        .table {
            max-width: 90%;
            width: 20%;
            margin: 0 auto;
            padding: 200px !important;
            background-color: yellow;
            border: 1px solid lightslategray;
            border-radius: 5px;
            -webkit-border-radius: 5px;
            -moz-border-radius: 5px;
            -ms-border-radius: 5px;
            -o-border-radius: 5px;
}

/* Estilos de luces de neón */
.neon-text {
    font-family: 'Arial', sans-serif;
    font-size: 2em;
    color: #00f0ff;
    
    text-shadow: 0 0 5px #ffffff, 0 0 10px #ffffff, 0 0 15px #ffffff, 0 0 20px #ffffff, 0 0 30px #ffffff, 0 0 40px #ffffff, 0 0 50px #ffffff;
    animation: neonAnimation 2s infinite alternate;
    -webkit-animation: neonAnimation 2s infinite alternate;
}

.neon-text:hover {
    color: #FFFFFF; /* Cambia el color al pasar el ratón */
    text-shadow: 0 0 5px #FFFFFF, 0 0 10px #FFFFFF, 0 0 15px #FFFFFF, 0 0 20px #FFFFFF, 0 0 30px #FFFFFF, 0 0 40px #FFFFFF, 0 0 50px #FFFFFF;

}

.neon-table a {
    display: inline-block;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    font-size: 1.5em;
    color: #00f0ff;
    border: 2px solid #00f0ff;
    border-radius: 5px;
    margin: 10px;
    position: relative;
    overflow: hidden;
    transition: 0.5s;
}

.neon-table a:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #00f0ff;
    z-index: -1;
    transform: scaleY(0);
    transform-origin: 0 50%;
    transition: 0.5s;
}

.neon-table a:hover {
    color: #000;
}

.neon-table a:hover:before {
    transform: scaleY(1);
    transform-origin: 0 50%;
}


.neon-footer {
    background-color: yellow;
    color: #fff;
    padding: 20px;
    text-align: center;
    position: relative;
}

.neon-footer::before,
.neon-footer::after {
    content: ' ';
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 10px;
    background: #001f3f;
    /*Cambiaestoalcolorquedeseesparaelneón*/box-shadow: 0 0 10px #001f3f, 0 0 20px #001f3f, 0 0 30px #001f3f, 0 0 40px #001f3f;
    opacity: 0.5;
    z-index: -1;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}

.neon-footer::after {
    background: #001f3f;
    /*Puedescambiarestoaotrocolorsiloprefieres*/box-shadow: 0 0 5px #001f3f, 0 0 10px #001f3f, 0 0 15px #001f3f, 0 0 20px #001f3f;
    animation: neon-glow 1.5s infinite alternate;
    -webkit-animation: neon-glow 1.5s infinite alternate;
}

@keyframes neon-glow {
    from {
        opacity: 0.5;
    }
    to {
        opacity: 1;
    }
}


        
        label {
            display: block;
            margin-bottom: 5px;
        }
        
        input[type="text"],
        input[type="number"],
        textarea {
            width: 90%;
            padding: 10px;
            margin-bottom: 10px;
            border: 1px solid #cccccc;
            border-radius: 5px;
            -webkit-border-radius: 5px;
            -moz-border-radius: 5px;
            -ms-border-radius: 5px;
            -o-border-radius: 5px;
}
        
        input[type="submit"] {
            padding: 10px;
            background-color: #808080;
            color: #ffffff;
            border: none;
            border-radius: 5px;
            cursor: pointer;
            -webkit-border-radius: 5px;
            -moz-border-radius: 5px;
            -ms-border-radius: 5px;
            -o-border-radius: 5px;
}
        
        input[type="submit"]:hover {
            background-color: #808080;
        }
        
        button {
            padding: 8px;
            margin:4px;
            background-color: #808080;
            color: #ffffff;
            border: none;
            border-radius: 5px;
            cursor: pointer;
            -webkit-border-radius: 5px;
            -moz-border-radius: 5px;
            -ms-border-radius: 5px;
            -o-border-radius: 5px;
}
        
        button:hover {
            background-color: #808080;
        }
        
        a {
            padding: 8px;
            margin:4px;
            background-color:#033f3c ;
            color: wheat;
            /*altadeproducto,listado,agregar,borrar*/border: none;
            border-radius: 5px;
            cursor: pointer;
            text-decoration: none;
            font-size: 85%;
            -webkit-border-radius: 5px;
            -moz-border-radius: 5px;
            -ms-border-radius: 5px;
            -o-border-radius: 5px;
}
        
        
        a:hover {
            background-color: #808080;
        }
        
        
        /*
        h1, h3 {
            font-family: 'Arial', sans-serif;
            color: #F6C819;
            margin: 0;
        }*/
        /*h1, h3 {
            font-family: 'Arial', sans-serif;
            color: wheat;
            margin: 0;
            position: relative;
            display: inline-block;
        }
        
        h1::before,
        h1::after,
        h3::before,
        h3::after {
            content: '';
            position: absolute;
            width: 100%;
            height: 100%;
            background: #808080;
            opacity: 0;
            border-radius: 10px;
            animation: neon-animation 1s ease-in-out infinite alternate;
            -webkit-border-radius: 10px;
            -moz-border-radius: 10px;
            -ms-border-radius: 10px;
            -o-border-radius: 10px;
            -webkit-animation: neon-animation 1s ease-in-out infinite alternate;
        }
        
        h1::after,
        h3::after {
            background: #808080; 
            animation-delay: 0.5s; 
        }
        
        @keyframes neon-animation {
            from {
                opacity: 0.8;
                transform: scale(1);
                -webkit-transform: scale(1);
                -moz-transform: scale(1);
                -ms-transform: scale(1);
                -o-transform: scale(1);
        }
            to {
                opacity: 1;
                transform: scale(1.1);
                -webkit-transform: scale(1.1);
                -moz-transform: scale(1.1);
                -ms-transform: scale(1.1);
                -o-transform: scale(1.1);
        }
        }
        
        h1:hover::before,
        h1:hover::after,
        h3:hover::before,
        h3:hover::after {
            animation: none; 
        }*/
        h1, h3{
            background-color: transparent;
            font-style: italic;
            color: #ffffff;
        
        }
        
        