
body {
    font-family: Arial, sans-serif;
    background-color: #000000;
}
.navbar-custom {
    background-color: #001f3f; /* Fondo del Navbar */
}

.navbar-custom .navbar-brand,
.navbar-custom .nav-link {
    color: #ffffff; /* Texto del Navbar */
    border: 2px solid #fff; /* Borde del Navbar */
    border-radius: 10px; /* Bordes redondeados */
    margin: 0 5px; /* Márgenes entre elementos del Navbar */
    padding: 8px 15px; /* Espaciado interno del Navbar */
    position: relative;
    overflow: hidden;
}

.navbar-custom .navbar-brand::before,
.navbar-custom .nav-link::before,
.navbar-custom .navbar-brand::after,
.navbar-custom .nav-link::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 2px;
    background-color: #fff; /* Color de las luces de neón */
    opacity: 0;
    transition: all 0.3s ease-in-out;
    z-index: 2; /* Aumenta el valor de z-index */
}

.navbar-custom .navbar-brand::before,
.navbar-custom .nav-link::before {
    top: 0;
    transform: translateY(-50%);
}

.navbar-custom .navbar-brand::after,
.navbar-custom .nav-link::after {
    bottom: 0;
    transform: translateY(50%);
}

.navbar-custom .navbar-brand:hover::before,
.navbar-custom .nav-link:hover::before,
.navbar-custom .navbar-brand:hover::after,
.navbar-custom .nav-link:hover::after {
    opacity: 1;
    transform: translateY(0);
}

.contenedor-centrado {
    display:flex;
    width: 100%;
    justify-content: center;
}

p {
    font-family: 'Times New Roman', Times, serif;
    background-color: black;
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
}

h1, h2, h3, h4, h5, h6 {
    text-align: center;
    color: white;
}

form {
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    background-color: white;
    border: 1px solid tomato;
    border-radius: 5px;
    -webkit-border-radius:;
    -moz-border-radius:;
    -ms-border-radius:;
    -o-border-radius:;
}

table {
    max-width: 90%;
    margin: 0 auto;
    padding: 20px;
    background-color: #FFFFFF;
    border: 1px solid lightslategray;
    border-radius: 5px;
    -webkit-border-radius:;
    -moz-border-radius:;
    -ms-border-radius:;
    -o-border-radius:;
}

label {
    display: block;
    margin-bottom: 5px;
}

input[type="text"],
input[type="number"],
textarea {
    width: 90%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #cccccc;
    border-radius: 5px;
    -webkit-border-radius:;
    -moz-border-radius:;
    -ms-border-radius:;
    -o-border-radius:;
}

input[type="submit"] {
    padding: 10px;
    background-color: #808080;
    color: #ffffff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    -webkit-border-radius:;
    -moz-border-radius:;
    -ms-border-radius:;
    -o-border-radius:;
}

input[type="submit"]:hover {
    background-color: #808080;
}

button {
    padding: 8px;
    margin:4px;
    background-color: #808080;
    color: #ffffff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    -webkit-border-radius:;
    -moz-border-radius:;
    -ms-border-radius:;
    -o-border-radius:;
}

button:hover {
    background-color: #808080;
}

a {
    padding: 8px;
    margin:4px;
    background-color:#033f3c ;
    color: wheat;/*alta de producto, listado,agregar,borrar*/
    border: none;
    border-radius: 5px;
    cursor: pointer;
    text-decoration: none;
    font-size: 85%;
    -webkit-border-radius:;
    -moz-border-radius:;
    -ms-border-radius:;
    -o-border-radius:;
}


a:hover {
    background-color: #808080;
}



h1, h3{
    background-color: transparent;
    font-style: italic;
    color: #ffffff;

}

